body {
    color: black;
    background-image: url("food/food.png");
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
}

h1 {
    font-size: 90px; 
    color: white;
}

#computerchoice-text{
    font-size: 60px;
}
button {
    color: black;
    background-color: #f1f1f2;
    border-radius: 2px;
    border: 1px solid white;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

button:hover{
    background-color: #20948b;
}

#letters {
    background-color: #20948b;
    border:  2px dotted white;
    font-weight: bold;
    margin: 5px 20px;
    padding: 15px;
}

.score {
    background-color: #de7a22;
    border:  2px dotted white;
    margin: 5px 20px;
    padding: 15px;
}

